html{
  scroll-behavior: smooth;
}
body{
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
img{
  vertical-align: middle;
  max-width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.justify-content-between{
  justify-content: space-between;
}
.align-items-center{
  align-items: center;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}